# IDEs und Editoren
.idea/
*.iml
*.iws
*.ipr
.gradle/
.vscode/
.project
.classpath
.settings/
.factorypath
bin/
out/

# Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
hs_err_pid*
replay_pid*

# Build-Ordner (Global)
target/
build/
dist/

# WICHTIG: Wir entfernen *.html, *.png, *.ico hier,
# damit das Frontend im static-Ordner NICHT ignoriert wird!